@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 17px;
    font-family: 'Exo', 'NanumSquare', 'Margun Gothic', sans-serif;
    color: #000;
    line-height: 1.6;
    background-color: #fff;
}
header, footer, nav, section, article, aside {
    display: block;
}
h1, h2, h3, h4, h5 {
    font-family: 'Exo', 'NanumSquare', 'Margun Gothic', sans-serif;
}
input, select, textarea {
    font-size: 15px;
    font-family: 'Exo', 'NanumSquare', 'Margun Gothic', sans-serif;
    color: #333;
    line-height: 1.6;
}
ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    border: 0;
    vertical-align: top;
}
p {
    margin-top: 1.2em !important;
    margin-bottom: 1.2em !important;
}
table {
    width: 100%;
    max-width: 1420px;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
table td, table th {
    border: 1px solid #ccc;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
fieldset , input, select {
    border: 0;
}
.style-none {
    box-shadow: 0 0 0 #000;
    height: 12px;
}
/* 공용 */
.wrap {
    width: 100%;
    max-width: 1460px;
    margin: auto;
}
.wrap1200 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.sound-only {
    position: absolute;
    left: -9999em;
    top: -9999em;
}
.bl-btn {
    width: 160px !important;
    height: 42px;
    line-height: 42px;
    background-color: #1f265b;
    color: #fff;
    font-size: 1.1em;
}
.bl-line-btn {
    width: 160px !important;
    height: 42px;
    line-height: 42px;
    border: 1px solid #1f265b;
    color: #1f265b;
    font-size: 1.1em;
}
input, select {
    height: 34px;
    line-height: 48px;
    padding: 0 12px;
}
.max1000 {
    max-width: 1000px;
    margin: auto;
}
.max750 {
    max-width: 750px;
    margin: auto;
}
.max620 {
    max-width: 620px;
    margin: auto;
}
.max500 {
    max-width: 500px;
    margin: auto;
}
.table-chk {
    width: 15px;
    height: 15px;
    margin: auto;
    border-radius: 50%;
    background-color: #ee2e30;
}
/* 자주사용하는 글자색, 배경 */
.wh, .wh a, .wh:hover, .wh a:hover {
    color: #fff !important;
}
.bk, .bk a, .bk:hover, .bk a:hover {
    color: #000 !important;
}
.gr, .gr a, .gr:hover, .gr a:hover {
    color: #f4f4f4;
}
.bl, .bl a, .bl:hover, .bl a:hover {
    color: #1f265b;
}
.re, .re a, .re:hover, .re a:hover {
    color: #ee2e30;
}
.wh-bg {
    background-color: #fff !important;
}
.bk-bg {
    background-color: #000 !important;
}
.gr-bg {
    background-color: #f4f4f4;
}
.bl-bg {
    background-color: #1f265b;
}
.re-bg {
    background-color: #ee2e30;
}
h3.bl {
    font-size: 6.6em;
}

/* 스킵 */
#skip {}
#skip a {
    position: absolute;
    left: 0;
    top: -50px;
    width: 100%;
    display: block;
    background-color: #1f265b;
    color: #fff;
    text-align: center;
    line-height: 42px;
    z-index: 9999;
    transition: top 0.2s;
}
#skip a:focus {
    top: 0;
}

/* 헤더 */

#header {
    position: absolute;
    width: 100%;
    height: 110px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    background-color: transparent;
    z-index: 1000;
    transition: 0.3s;
}
.header-wrap {
    position: relative;
}
h1.main-logo {
    width: 140px;
    height: 60px;
    background-image: url('../images/wh_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
h1 a {
    display: block;
    width: 100%;
    height: 100%;
}
#hmm-gnb {
    display: none;
    margin-top: 62px;
}
#hmm-gnb a, .utill-menu li a {
    display: block;
    color: #fff;
}
#hmm-gnb .depth1 {
    position: relative;
    float: left;
}
#hmm-gnb .depth1 > a {
    position: relative;
    padding: 0 2.1em 25px;
    font-size: 1.1em;
}
#hmm-gnb .depth2 {
    position: absolute;
    left: 0;
    top: 48px;
    width: 140%;
    display: none;
    padding: 18px 0;
    border: 1px solid #ccc;
    background-color: #fff;
}
#hmm-gnb .depth2 a {
    display: block;
    padding: 0.6em 10px;
}

.utill-menu-navigation {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
.utill-menu li {
    float: left;
    /* line-height: 52px; */
    padding: 24px 0.8em;
    font-size: 0.9em;
}
.utill-menu li:last-of-type {
    padding-right: 0;
}
.utill-menu button {
    color: #fff;
}
.sitemap-open-btn {
    display: none;
}
.chk a {position: relative;}
.chk a:after {
    position: absolute;
    top: calc(50% - 3px);
    left: 2px;
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ee2e30;
}
/* mobile */
.m-gnb-hd {
    height: 110px;
    border-bottom: 1px solid #ccc;
}
.m-open-btn, .m-close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.3em;
    cursor: pointer;
}
.fa-staggered {
    color: #fff;
}
.fa-xmark {
    color: #666;
}
#m-gnb a {
    display: block;
}

.mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: none;
    background-image: url('../images/color_logo.png');
    background-position: center 20px;
    background-size: 160px;
    background-repeat: no-repeat;
}
.m-language-btn {
    position: relative;
    left: 20px;
    top: 32px;
    width: 84px;
}
.m-language-btn li {
    float: left;
    width: 42px;
    height: 42px;
    text-align: center;
    padding-top: 8px;
    border: 1px solid #ddd;
    border-width: 1px 1px 1px 0 ;
}
.m-language-btn li:first-of-type {
    border-left: 1px solid #ddd;
}
.m-language-btn li.active-line {
    border: 1px solid #1f265b;
}

#m-gnb .depth1 {
    position: relative;
    border-bottom: 1px solid #ccc;
}
#m-gnb .depth1 > a {
    padding: 0 1.2em;
}
#m-gnb .depth1 > a:before, #m-gnb .depth1 > a:after {
    position: absolute;
    top: 26px;
    right: 1.2em;
    content: '';
    width: 12px;
    height: 2px;
    background-color: #666;
}
#m-gnb .depth1 > a:before {
    transform: rotate(90deg);
}
#m-gnb .depth1.active > a:before {
    display: none;
}


#m-gnb a {
    line-height: 52px;
}
#m-gnb .depth2 {
    background-color: #f4f4f4;
    padding: 1.2em;
}

/* 푸터 */
#footer {
    padding-top: 150px;
    background-image: url('../images/gr_logo.png');
    background-position: center 60px;
    background-size: 160px;
    background-repeat: no-repeat;
    text-align: center;
    color: #666;
    font-size: 0.9em;
}
.ft-sns li {
    display: inline-block;
    padding: 12px;
    vertical-align: top;
}
.ft-sns li img {
    height: 30px;
}
.ft-sns li i {
    font-size: 2em;
    color: #666;
}
.ft-menu li {
    width: 90%;
    line-height: 32px;
    margin: 6px auto;
    border: 1px solid #ccc;
}
.ft-info {
    padding: 2em 0;
    margin: auto;
}
.ft-info dt:after {
    content: ':';
    display: inline-block;
}
.ft-info dt {
    display: inline-block;
}
.ft-info dd {
    display: inline-block;
}
.ft-tel a {
    display: block;
    padding-top: 18px;
    font-weight: 800;
    font-size: 4.2em;
    color: #666;
    font-family: 'NanumSquare', 'Margun Gothic', sans-serif;
    text-shadow: 1px 3px 1px rgba(0,0,0,0.2);
}
.moveto select {
    width: 200px;
    margin: 0 12px;
    height: 38px;
    border: 1px solid #ccc;
}
.ft-bt {
    margin-top: 60px;
    padding: 60px 0;
    border-top: 1px solid #ccc;
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
.modal iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}
.sitemap-close-btn {
    position: fixed;
    display: none;
    top: 54px;
    left: calc(50% + 740px);
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.1);
    z-index: 10000;
}
.sitemap-close-btn i {
    color: #fff;
    font-size: 2em;
}
.gototop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 55px;
    height: 55px;
    text-align: center;
    z-index: 10000;
    opacity: 0.9;
}
.gototop a {
    font-size: 1.8em;
    line-height: 55px;
}
