@charset 'utf-8';
/* 모바일 */
@media screen and (max-width: 460px) {
    .main-biz-ul > li {
        height: 450px;
    }
    .main-biz-ul li.active .biz-title {
        padding: 12px;
        font-size: 2em;
    }
    .biz-dl-wrap {
        font-size: 0.8em;
    }
    .biz-dl-wrap dl {
        width: 300px;
    }
    .main-biz-ul li.active .biz-txt {
        padding: 8px;
    }
}
@media screen and (max-width: 767px) {
    .main-visual-txt {
        margin-top: 100px;
        text-align: center;
    }
    .main-visual-txt strong {
        font-size: 2em;
    }
    .main-visual-txt p {
        padding: 0 12px;
        font-size: 0.85em;
    }
    .mv-controls {
        text-align: center;
    }
    .mv-btn-toggle {
        display: none;
    }
    .mt-section {
        padding: 14px;
    }
    .main-tab-contents .wrap:before {
        height: 450px;
    }
    .mt-section form li > label {
        min-width: 100px;
    }
    #sch-from, #sch-to {
        width: 180px;
    }
    #sch-period-date {
        width: 100px;
    }
    #sch-period {
        width: 80px;
    }
    #sch-so {
        width: 120px;
    }
    .sch-search-btn {
        width: 100%;
    }
    .sgin-in-btn > .bl-btn {
        position: relative;
        left: calc(50% - 80px);
        margin-bottom: 1em;
    }
    .mt-section2 form li > label,
    .mt-section3 form li > label,
    .mt-section4 form li > label {
        width: 40%;
    }
    .mt-section2 form li > input,
    .mt-section3 form li > input,
    .mt-section4 form li > input {
        width: 60%;
    }
    .main-biz-container h3, .main-latestnews-container h3 {
        padding: 46px 0 12px;
        font-size: 2.5em;
    }

    .main-video {
        margin: 80px 0;
    }
    .main-video-container h3 {
        padding-top: 30px;
    }
    .h3-desc {
        padding-bottom: 0;
    }
    .main-latestnews-container .h3-desc {
        padding-bottom: 34px;
    }
    .news-box {
        padding: 80px 0;
    }
    .latestnews-cnt {
        height: 900px;
    }
    .main-middle-banner strong {
        font-size: 1.5em;
    }
}

/* 테블릿 부터 */
@media screen and (min-width: 768px) {
    .main-tab-btn button {
        font-size: 1.1em;
        height: 70px;
    }
    .mt-section1 form li:nth-of-type(1) > label, .mt-section1 form li:nth-of-type(3) > label {
        width: 100px;
    }
    
    .mt-section1 form li {
        float: left;
        width: 50%;
    }
    .mt-section2 form, .mt-section2 div,
    .mt-section3 form, .mt-section3 div,
    .mt-section4 form, .mt-section4 div {
        float: left;
    }
    .sch-search-btn {
        position: relative;
        top: -60px;
        left: 130px;
        margin: 0.8em 0;
        text-align: left;
    }
    .mt-section2 form,
    .mt-section3 form,
    .mt-section4 form {
        width: 70%;
    }
    .mt-section2 > div,
    .mt-section3 > div,
    .mt-section4 > div {
        width: 30%;
        max-width: 230px;
    }
    .main-video-icon li {
        width: 33.3333%;
    }
    .mt-section2 form li > input,
    .mt-section3 form li > input,
    .mt-section4 form li > input {
        width: 300px;
    }
    .main-biz-ul {
        height: 620px;
    }
    .main-biz-ul > li {
        position: absolute;
        top: 0;
        width: 52%;
        height: 100%;
    }
    .biz2 {
        left: 33.33%;
        z-index: 2;
    }
    .biz3 {
        left: 66.66%;
        z-index: 3;
    } 
    .main-biz-ul.on .biz2 {
        left: 24%;
    }
    .main-biz-ul.on .biz3 {
        left: 76%;
    }
    .main-biz-ul li.active ~ .biz2 {
        left: 52%;
    }
    .main-biz-ul.on .biz2.active {
        left: 24%;
    }
    .main-biz-ul.on .biz3.active {
        left: 48%;
    }
    
    .main-biz-ul > li {
        float: left;
    }
    .sgin-in-btn {
        margin-left: 130px;
    }
    .main-biz-icon li {
        padding: 1% 3%;
    }
    .main-video-icon li {
        padding: 1% 0;
    }

}

/* 테블릿 만 */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .mv-btn-toggle {
        bottom: 20px;
    }
    .main-tab-contents .wrap {
        /* top: 20px; */
    }
    .main-biz-container h3, .main-latestnews-container h3 {
        padding: 60px 0 12px;
        font-size: 4em;
    }
    
    .latestnews-cnt {
        height: 1200px;
    }
    .main-video-container h3 {
        padding-top: 30px;
    }
    .main-latestnews-container h3:before {
        left: 460px;
        top: 112px;
    }
}

/* 데스크탑 */
@media screen and (min-width: 1280px) {
    .main-visual {
        padding-top: 52%;
    }
    .main-visual3-img {
        left: calc(50% + 200px);
        bottom: 230px;
    }
    .mv-controls .mv-btn.active {
        background-color: #ee2e30;
    }
    .mv-controls {
        width: 1460px;
        left: calc(50% - 730px);
    }
    .mv-controls:before {
        content: '';
        display: block;
        margin: 0.6em 0;
        border-bottom: 1px solid #ccc;
    }
    .mv-controls .mv-btn {
        width: 12px;
        height: 12px;
        margin: 0.3em;
        border-radius: 6px;
        background-color: #f4f4f4;
    }
    .icon li dl {
        text-align: left;
    }
    .dsk-blind {
        position: absolute;
        left: -9999em;
        top: -9999em;
    }
    .mv-controls:after,
    .mv-btn.active:after {
        display: none;
    }
    .main-tab-container .wrap {
        position: inherit;
    }
    .main-tab-btn button {
        position: relative;
        top: 15px;
        width: 240px;
    }
    .main-tab-container {
        position: relative;
        top: -118px;
        left: 0;
    }
    .main-tab-contents {
        background-image: url('../images/hmm_tab_logo.png');
        background-repeat: no-repeat;
        background-position: center 0;
        height: 186px;
        width: 100%;
        
    }
    .main-tab-contents .wrap {
        position: relative;
    }
    .mt-section {
        width: 960px;
    }
    .main-biz-ul {
        float: left;
        width: 60%;
        height: 620px;
    }
    .mb-txt {
        float: left;
        width: 40%;
        padding-left: 2em;
        margin-top: 160px;
        text-align: left;
    }
    .mb-txt strong {
        font-size: 2em;
    }
    .main-biz-container h3 {
        line-height: 2.6em;
    }
    .main-biz-icon {
        margin: 190px auto;
    }
    .icon dl {
        margin-bottom: 0;
    }
    .icon div {
        display: inline-block;
        margin-left: 12px;
    }
    .main-biz-icon li {
        width: 25%;
        text-align: left;
    }
    .main-video-icon li {
        width: 20% !important;
        text-align: left;
    }
    .main-biz-container{
        background-position: 120% 107%;
        background-size: 1590px;
    }
    .main-biz-container, .media-container {
        background-repeat: no-repeat;
        background-image: url('../images/hmm_bg_logo.png');
        border: 1px solid transparent;
    }
    .media-container {
        background-size: 1260px;
        background-position: 110% 43%;
    }
    .media-container:before {
        position: relative;
        top: 195px;
    }
    .main-video-container {
        margin-top: 150px;
        padding-bottom: 190px;
    }
    .main-video-container h3 {
        font-size: 3em;
        padding: 0.2em 0;
    }

    .main-latestnews-container h3:before {
        top: 85px;
        left: 770px;
    }
    
    .main-video-container .h3-desc {
    }
    .news-box {
        position: relative;
        left: 250px;
        overflow: hidden;
    }
    .latestnews {
        left: 0;
    }
    .latestnews li {
        width: 420px;
        height: 480px;
    }
    .latest-img, .latest-txt {
        height: 50%;
    }
    .latest-txt {
        padding: 18px;
    }
    .latest-txt strong {
        line-height: 2.4;
        font-size: 1.1em;
    }
    .latest-txt .latest-cnt {
        font-size: 0.9em;
    }
    .latest-txt .latest-date {
        padding-top: 2em;
        font-size: 0.8em;
    }
}